
.foodLabels {
    -fx-background-color: mediumslateblue;
    -fx-background-radius: 15 15 15 15;
    -fx-alignment: center;
    -fx-font-family: Arial;
    -fx-font-size: 15px;
}

.foodName {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 1.5em;
}

.foodDescription {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-style: italic;
}

.selected_food {
    -fx-background-color: forestgreen;
}