.menu {
    -fx-background-color: deepskyblue;
}

.menubar {
    -fx-background-color: deepskyblue;
}

.rooms {
    -fx-background-color: lightskyblue;
    -fx-background-radius: 15 15 15 15;
    -fx-border-radius: 15 15 15 15;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: black;
}

.rooms:hover {
    -fx-background-color: #dff9fb;
}

.reservation_button {
    -fx-background-color: mediumseagreen;
}