.scroll-bar:vertical .thumb {
    -fx-background-color: skyblue;
    -fx-background-radius: 0;
    -fx-border-width: 0;
}

.scroll-bar:vertical .track {
    -fx-background-color: #2d3a61;
    -fx-background-radius: 0;
    -fx-border-width: 0;
}

.deleteHover:hover {
    -fx-background-color: silver;
    -fx-background-radius: 22;
}

.deleteHoverhover {
    -fx-background-color: silver;
        -fx-background-radius: 22;
}